* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "poppins";
}
.hero-body {
  background: #000;
  color: #fff;
  height: auto;
  width: auto;
  animation: slidein 0.8s ease-in-out;
}
/*==========================================
= HERO HEAD CONTAINER STYLES
==========================================*/
.hero-headcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #000000d6;
  box-shadow: 0 10px 30px rgb(110, 0, 0);
  overflow: hidden;
  top: 0;
  z-index: 1;
  position: sticky;
}
.hero-heading {
  position: relative;
  bottom: 10px;
}
.hero-heading span {
  color: #ffffff;
  margin-right: 13px;
}
#span-z {
  font-size: 60px;
  color: rgb(154, 1, 1);
  position: relative;
  top: 8px;
}
.hero-navbar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
  right: 40px;
}
.hero-navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  transition: 0.3s ease-in-out;
  transform-origin: left;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  color: #ffffff;
  padding: 0px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: 200;
  transition: 0.3s ease-in-out;
  font-family: "poppins";
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  transition: 1s ease-in-out;
  transform: translateX(-20px);
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 100;
  transition: 1s ease-in-out;
  transform: translateX(-20px);
}
.dropdown-content a:hover {
  background-color: rgb(1, 0, 0);
  border-radius: 10px;
  box-shadow: #ffffff 0px 0px 10px;
  transition: 1s ease-in-out;
  transform: translateX(-20px);
}
.dropdown:hover .dropdown-content {
  display: flex;
}
.dropdown:hover .dropbtn {
  background-color: transparent;
  box-shadow: 0 6px 15px rgb(75, 75, 75);
  text-decoration: underline;
  transition: 0.2s ease-in-out;
  transform: translateY(-20px);
}

#spanA {
  background-color: rgb(154, 1, 1);
  padding: 12px 16px;
  border-radius: 30px;
  box-shadow: 0 6px 15px rgb(75, 75, 75);
  transition: 0.3s ease;
}
#spanA:hover {
  background-color: rgb(154, 1, 1);
  box-shadow: 0 8px 100px 10px rgb(174, 20, 20);
  transition: 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: scale(1.1, 1.1);
}
.hero-navbar ul li a:hover {
  transition: 0.3s ease-in-out;
  text-decoration: underline;
  border-radius: 30px;
  box-shadow: 0 16px 15px rgb(123, 123, 123);
}
/*=====  End of HERO HEAD CONTAINER STYLES  ======*/
/*==========================================
= HERO CONTENT STYLES SECTION ONE
==========================================*/
.hero-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  gap: 50px;
  animation: appear linear;
  animation-range: entry 0% cover 40%;
}

.hero-section-left {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  margin-left: 40px;
  margin-bottom: 15px;
}
.hero-section-left h1 {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  font-size: 60px;
  font-weight: 800;
}
.hero-section-left h4 {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  position: relative;
  left: 100px;
  font-size: 30px;
  margin-top: -10px;
  margin-bottom: 20px;
  font-weight: 200;
}
.hero-section-left p {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  font-size: 18px;
  font-weight: 70;
  line-height: 1.6;
  margin-bottom: 30px;
}
.hero-section-left button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(154, 1, 1);
  border: none;
  border-radius: 30px;
  box-shadow: 0 6px 15px rgb(75, 75, 75);
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 90px;
}
.hero-section-left button:hover {
  background-color: rgb(154, 1, 1);
  box-shadow: 0 8px 40px rgb(174, 20, 20);
  transition: 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: scale(1.1, 1.1);
}
.hero-img img {
  min-width: 300px;
  max-width: 500px;
  height: auto;
  position: relative;
  bottom: 20px;
  filter: drop-shadow(1px 1px 20px rgba(137, 135, 135, 0.833));
  animation: float 2.5s ease-in-out infinite;
}
/*=====  End of HERO CONTENT STYLES SECTION ONE  ======*/
/*==========================================
= HERO CONTENT STYLES SECTION TWO (CARDS)
==========================================*/
.hero-cards-container h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.hero-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px 35px 100px 35px;
  color: #fff;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.hero-cards-section {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 15px rgb(154, 1, 1);
  transition: 0.3s ease-in-out;
  transform-origin: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
  max-width: 360px;
  min-width: 200px;
  height: 400px;
  max-height: auto;
  flex-wrap: wrap;
  flex: 1;
  font-size: 20px;
}
.hero-cards-section:hover {
  box-shadow: 0 8px 40px rgb(99, 99, 99);
  transition: 0.3s ease-in-out;
  transform: translateY(-12px) scale(1.02);
}
.hero-cards-section img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 100%;
  max-width: 200px;
  transition: transform 0.4s ease;
  filter: drop-shadow(1px 1px 20px rgba(175, 175, 175, 0.833));
}
.hero-cards-section img:hover {
  transform: scale(1.1, 1.1) rotate(-15deg);
}
.hero-cards-section h4 {
  margin-bottom: 15px;
  font-size: 25px;
}

/*=====  End of HERO CONTENT STYLES SECTION TWO (CARDS)  ======*/
/*=================================================================
                      HERO SLIDING CARDS START
==================================================================*/

.carousel {
  width: 100%;
  margin: 100px auto;
  padding-bottom: 50px;
  box-shadow: 3px 5px 18px rgb(154, 1, 1), -3px -5px 18px rgb(154, 1, 1);
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  border-radius: 2em;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  animation: spin 10s linear infinite;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
}
.card {
  flex: 0 0 5em;
  height: 5em;
  padding: 1em;

  color: #fff;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}
.slide-names {
  display: block;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 100;
  position: relative;
  bottom: 50px;
  color: #ffffff;
}
.card img {
  width: 200px;
  height: auto;
  opacity: 0.8;
  filter: drop-shadow(2px 2px 20px rgba(161, 161, 161, 0.833));
}
/*=====  End of HERO SLIDING CARDS STYLES  ======*/
/*======================================================================
                      HERO FOOTER STYLES SECTION
=======================================================================*/

.hero-footer-section {
  padding: 30px 50px;
  flex: 1;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.hero-footer-section h4 {
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 18px rgb(154, 1, 1);
  background: rgb(154, 1, 1);
  padding: 10px 20px;
  border-radius: 3em;
  margin-bottom: 30px;
  scroll-behavior: smooth;
}
.hero-footer-section p {
  font-size: 18px;
  font-weight: 70;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  max-width: 100%;
  flex-wrap: wrap;
  font-size: 19px;
  scroll-behavior: smooth;
}

.hero-faqs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  scroll-behavior: smooth;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.hero-faqs h4 {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.faq-options {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 20px 370px;
  border-radius: 2em;
  box-shadow: 3px 5px 18px rgb(154, 1, 1);
  border: 2px ridge rgb(154, 1, 1);
  scroll-behavior: smooth;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
#hero-back-to-topbtn {
  margin-top: 60px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(154, 1, 1);
  border: none;
  border-radius: 100px;
  box-shadow: 0 6px 15px rgb(75, 75, 75);
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  left: 37em;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 5%;
}
#hero-back-to-topbtn a {
  color: #fff;
  text-decoration: none;
}
#hero-back-to-topbtn:hover {
  background-color: rgb(154, 1, 1);
  box-shadow: 0 8px 40px rgb(174, 20, 20);
  transition: 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: scale(1.1, 1.1);
  border-radius: 100px;
}
.hero-copyrights {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  box-shadow: 0 8px 40px rgb(174, 20, 20);
  padding: 30px 50px;
  margin-top: 60px;
}
.hero-copyrights p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: relative;
  left: 21em;
  font-family: "poppins";
}
/*=======END OF HERO FOOTER SECTION==========*/

/*================================================================
                     HERO ANIMATIONS
=================================================================*/
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*==========END OF HERO ANIMATIONS==========*/
